<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/auth1.css" />
    <title>Login</title>
  </head>
  <body>
    <div id="box-up">
      <div id="up-t"></div>
      <div id="up-t2"></div>
    </div>

    <main id="login-wrap">
      <h1 id="title">Welcome Back</h1>

      <form class="input" method="POST" action="/login">
        <div class="inputGroup">
          <input type="text" name="loginId" placeholder=" " required />
          <label>Email / Whatsapp Number</label>
        </div>

        <div class="inputGroup">
          <input type="password" name="password" placeholder=" " required />
          <label>Password</label>
        </div>

        <a href="/forgot-password">Forgot Password?</a>

        <% if (error) { %>
        <p id="error" style="color: red"><%= error %></p>
        <% } %>

        <input id="submit" type="submit" value="Login" />
      </form>
    </main>

    <div id="box-down">
      <p class="go-register">
        Did not have account?<br />
        <a href="user/register">Create account</a>
      </p>

      <div id="down-t"></div>
      <div id="down-t2"></div>
      <div id="down-t3"></div>
      <div id="down-t4"></div>
    </div>
  </body>
</html>
