<header>
  <h1 > Admin Panel</h1>
  <a id="a1"  href="/admin/addMobile">ADD MOBILE</a>
  <a id="a2" href="/admin/mobileList">MOBILE LIST</a>
  
  <a id="a3" href="/admin/order" >ORDER</a>
  <a id="a4" href="/admin/profile">USERS</a>
</header>