<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth1.css" />
    <title>Register</title>
  </head>
  <body>
    <div id="box-up">
      <div id="up-t"></div>
      <div id="up-t2"></div>
    </div>

    <div id="login-wrap">
      <h1 id="titleR">Create Account</h1>

      <form class="input" action="/user/register" method="POST">
        <div class="inputGroupR" >
          <input type="text" name="name" placeholder=" " required />
          <label>Full Name</label>
        </div>

        <div class="inputGroupR">
          <input type="email" name="email" placeholder=" " required />
          <label>Email Address</label>
        </div>

        <div class="inputGroupR">
          <input type="password" name="password" placeholder=" " required />
          <label>Password</label>
        </div>

        <div class="inputGroup phoneInputGroup">
          <span class="countryCode">+91</span>
          <input
            id="no"
            type="tel"
            name="phone"
            maxlength="10"
            pattern="[0-9]{10}"
            placeholder=" "
            required
          />
          <label>Whatsapp Number</label>
        </div>

        <% if (errors.email) { %>
        <div id="errorR" style="color: red"><%= errors.email %></div>
        <% } else if (errors.phone) { %>
        <div id="errorR" style="color: red"><%= errors.phone %></div>
        <% } %>

        <input id="submit" type="submit" value="Register" />
      </form>
    </div>

    <div id="box-down">
      <p class="go-register">
        I already have account. <br /><a id="anchore" href="/login"
          >Login account</a
        >
      </p>
      <div id="down-t"></div>
      <div id="down-t2"></div>
      <div id="down-t3"></div>
      <div id="down-t4"></div>
    </div>
  </body>
</html>
