<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
    <title>Register</title>
  </head>
  <body>
    <div id="up-t"></div>
    <div id="up-t2"></div>

    <div id="box-up"></div>

    <div id="login-wrap">
      <div id="login-box"></div>
    </div>

    <div id="box-down"></div>
    <div id="down-t"></div>
    <div id="down-t2"></div>
    <div id="down-t3"></div>
    <div id="down-t4"></div>

    <h2 id="title">Create Account</h2>

    <form class="inputR" action="/user/register" method="POST">
      <input type="text" name="name" placeholder="Full Name" required />

      <input type="email" name="email" placeholder="Email Address" required />
      <input type="password" name="password" placeholder="Password" required />
      <div class="phone-field">
        <span >+91</span>
        <input
          type="tel"
          name="phone"
          maxlength="10"
          pattern="[0-9]{10}"
          placeholder="Whatsapp number"
          required
        />
      </div>

      <% if (errors.email) { %>
      <div style="color: red"><%= errors.email %></div>
      <% } %> <% if (errors.phone) { %>
      <div style="color: red"><%= errors.phone %></div>
      <% } %>
      <input id="submit" type="submit" value="Register" />
    </form>

    <p class="go-registerR">
      I have account <br /><a href="/login">Login account</a>
    </p>
  </body>
</html>
