<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Register</title>
</head>
<body>
  <div class="register-container">
    <h2>User Registration</h2>

  

    <form action="/user/register" method="POST">
      <input type="text" name="name" placeholder="Full Name" required />
      <% if (errors.email) { %>
  <div style="color: red; font-size: 0.9em;"><%= errors.email %></div>
<% } %>
      <input type="email" name="email" placeholder="Email Address" required />
      <input type="password" name="password" placeholder="Password" required />
     <div style="display: flex;">
      <span >+91</span>
        <input
        type="tel"
        name="phone"
       maxlength="10"
       pattern="[0-9]{10}"
        placeholder="10-digit mobile number"
       required
       
        />
      </div>
      <% if (errors.phone) { %>
  <div style="color: red; font-size: 0.9em;"><%= errors.phone %></div>
<% } %>
      <input type="submit" value="Register" />

    </form>
  </div>
  <p>
    I have account? <a href="/login">Login account</a>
  </p>
</body>
</html>
