*{
  padding: 0;
  margin: 0;
}

body {
  height: 100dvh;
  overflow-y: auto;
  overscroll-behavior: none;
}

body {
  touch-action: pan-y; 
}

#box-up{
  position: absolute;
  z-index: 2;
  top: 0;
  height: 25dvh;
  width: 100%;
  background: linear-gradient(
    180deg,
    #5c87b5 0%,   
    #3a6391 50%,  
    #244776 100%  
  );
}

#box-down{
  position: absolute;
  height: 30dvh;
  bottom: 0;
  z-index: 2;
   width: 100%;
   background: linear-gradient(
    180deg,
    #244776 0%,   
    #3a6391 50%,  
    #5c87b5 100%  
  );
  display: flex;
  align-items: center;
}

#login-wrap{
  position: absolute;
  height: 60dvh;
  z-index: 3;
  top: 15dvh;
  width: 100vw;
  border-radius: 6vh;
  background-color: #f5f7f8;
  box-shadow: 10px 2px 20px rgba(0,0,0,0.3);
  padding-top: 4vh;
}

#login-wrapR{
  position: absolute;
  height: 65dvh;
  z-index: 3;
  top: 15dvh;
  width: 100vw;
  border-radius: 6vh;
  background-color: #f5f7f8;
  box-shadow: 10px 2px 20px rgba(0,0,0,0.3);
  padding-top: 4vh;
}


#up-t {
  clip-path: polygon(100% 0, 0 0, 0 33%);
  position: absolute;
  top: 0;
  width: 50vw;
  height: 16vh;
  left: 0;
  background: black;
  opacity: 0.8;
  z-index: 2;
  filter: blur(100px);
  backdrop-filter: blur(50px);
}

#up-t2 {
  clip-path: polygon(100% 0, 0 0, 0 33%);
  position: absolute;
  top: 0;
  width: 60vw;
  height: 29vh;
  left: 0;
  background: black;
  opacity: 0.4;
  z-index: 2;
  filter: blur(100px);
  backdrop-filter: blur(50px);
}

#down-t {
  position: absolute;
  bottom: 0;
  width: 30vw;
  height: 10vh;
  clip-path: polygon(0 40%, 0% 100%, 100% 100%);
  background: black;
  
  opacity: 0.8;
  z-index: 3;
  filter: blur(80px);
  backdrop-filter: blur(50px);
}

#down-t2 {
  position: absolute;
  bottom: 0;
  width: 35vw;
  height: 14vh;
  clip-path: polygon(0 40%, 0% 100%, 100% 100%);
  background: black;
  opacity: 0.4;
  z-index: 2;
  filter: blur(80px);
  backdrop-filter: blur(50px);
}

#down-t3 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35vw;
  height: 10vh;
  clip-path: polygon(100% 35%, 0% 100%, 100% 100%);
  background: black;
  opacity: 0.8;
  z-index: 2;
  filter: blur(80px);
  backdrop-filter: blur(50px);
}

#down-t4 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45vw;
  height: 17vh;
  clip-path: polygon(100% 35%, 0% 100%, 100% 100%);
  background: black;
  opacity: 0.4;
  z-index: 2;
  filter: blur(80px);
  backdrop-filter: blur(50px);
}

#title{
  text-align: center;
  font-family: "Abril Fatface", serif;
  color: #244776;
  font-size: 4vh;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 5vh;
}

#titleR{
  text-align: center;
  font-family: "Abril Fatface", serif;
  color: #244776;
  font-size: 4vh;
  font-weight: 400;
  letter-spacing: 3px;
  margin-bottom: 5vh;
}

.input #submit{
   width: 64vw;
  margin-left: 18vw;
  font-size: 3vh;
  color: white;
  background-color: #2c5080;
  margin-top: 2.5vh;
  border: none;
  font-family: "Aboreto", serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1vh 0;
  border-radius: 18px;
  position: absolute;
  bottom: 3vh;
}



#forget{
  display: block;
  text-align: end;
  margin-right: 3vw;
  color: #3a6391;
}

#error{
  text-align: center;
  font-family: "Inika", serif;
  font-size: 5vw;
  margin-top: 5vh;
}

#errorR{
  text-align: center;
  font-family: "Inika", serif;
  font-size: 5vw;
 
}


.go-register{
  position: absolute;
  bottom: 5vh;
  z-index: 3;
  text-align: center;
  width: 70vw;
  margin-left: 15vw;
  font-family: "Inika", serif;
  color: #f5f7f8;
  font-size: 5vw;
}

#anchore {
  font-family: "Inika", serif;
  color: #f5f7f8;
  font-size: 5vw;
  
}

/* placeholder */
.inputGroup {
  position: relative;
  margin: 4vh 0;
  width: 100%;
}

.inputGroupR {
  position: relative;
  margin: 3vh 0;
  width: 100%;
}


.inputGroup input {
  height: 5vh;
  width: 80vw;
  border-radius: 20px;
  margin-left: 7vw;
  color: #071221;
  font-size: 20px;
  font-family: "Inika", serif;
  padding-left: 3vh;
  border: none;
  background: #fff;
}


.inputGroup label {
  position: absolute;
  left: 13vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #888;
  font-family: "Inika", serif;
  pointer-events: none;
  transition: all 0.3s ease;
  background: transparent; 
  padding: 0 6px;
  
}


.inputGroup input:focus ~ label,
.inputGroup input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 8vw;
  font-size: 15px;
  color: #2c5080; 
  font-family: "Inika", serif;
  
}

.inputGroup input:focus {
  border: 2px solid #2c5080; 
  outline: none;
}

.inputGroupR input {
  height: 5vh;
  width: 80vw;
  border-radius: 20px;
  margin-left: 7vw;
  color: #071221;
  font-size: 20px;
  font-family: "Inika", serif;
  padding-left: 3vh;
  border: none;
  background: #fff;
}


.inputGroupR label {
  position: absolute;
  left: 13vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #888;
  font-family: "Inika", serif;
  pointer-events: none;
  transition: all 0.3s ease;
  background: transparent; 
  padding: 0 6px;
  
}


.inputGroupR input:focus ~ label,
.inputGroupR input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 8vw;
  font-size: 15px;
  color: #2c5080; 
  font-family: "Inika", serif;
  
}

.inputGroupR input:focus {
  border: 2px solid #2c5080; 
  outline: none;
}

.phoneInputGroup{
  display: flex;
}
.phoneInputGroup span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-left: 7vw ;
  font-size: 5vw;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0 3vw;
  color: #244776;
  font-family: "Inika", serif;
}  

.phoneInputGroup input {
  height: 5vh;
  width: 62vw;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 3vw;
  color: #071221;
  font-size: 20px;
  font-family: "Inika", serif;
  padding-left: 3vh;
  border: none;
  background: #fff;
}


.phoneInputGroup label {
  position: absolute;
  left: 28vw;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #888;
  font-family: "Inika", serif;
  pointer-events: none;
  transition: all 0.3s ease;
  background: transparent; 
  padding: 0 6px;
  
}


.phoneInputGroup input:focus ~ label,
.phoneInputGroup input:not(:placeholder-shown) ~ label {
  top: -10px;
  left: 24vw;
  font-size: 15px;
  color: #2c5080; 
  font-family: "Inika", serif;
  
}

.phoneInputGroup input:focus {
  border: 2px solid #2c5080; 
  outline: none;
}

/* -----------  otp ------------- */
#verify-title{
  text-align: center;
  color: #071221;
  font-size: 6vw;
  font-family: "alice", serif;
}
#verify-btn{
  width: 64vw;
  margin-left: 18vw;
  font-size: 3vh;
  color: white;
  background-color: #2c5080;
  margin-top: 2.5vh;
  border: none;
  font-family: "Aboreto", serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1vh 0;
  border-radius: 18px;
  position: absolute;
  bottom: 3vh;
}

#resend-otp{
  text-align: end;
  margin-right: 3vw;
  color: #203b5d;
  font-size: 5vw;
}

#resendMsg{
  color: #203b5d;
  font-family: "Inika", serif;
 font-size: 2.4vh;
 margin-top: -10px;
}

#resendBtn{
  border: none;
  background-color: transparent;
  font-family: "Inika", serif;
  color: #323a40;
  font-size: 2.5vh;
  text-decoration: underline;
}
