body{
  margin: 0;
  padding: 0;
  margin-top: 4vh;
  margin-bottom: 7vh;
}

.main{
  width: 90vw;
  margin-left: 7vw;
  margin-top: 1.5vh;
  display: inline-block;
  
   
}
#pic{
  object-fit: contain;
  width:90vw;
  
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

#location{
  background-color: #353738;
  height: 10vh;
  margin-top: -1vh;
  width:90vw;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
#contact-box{
  position: absolute;
  z-index: 3;
  background-color: #607D8B;
  height: 8vh;
  width: 44vw;
  margin-left: -4vw;
  margin-top: 5vh;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
}
#contact-box2{
  position: absolute;
  z-index: 3;
  background-color: #607D8B;
  height: 8vh;
  width: 44vw;
  margin-top: 18vh;
   margin-left: -4vw;
   border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
}
#contact-box3{
  position: absolute;
  z-index: 3;
  background-color: #607D8B;
  height: 8vh;
  width: 44vw;
  margin-top: 31vh;
   margin-left: -4vw;
   border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
}