body{
  margin: 0;
  padding: 0;
  margin-top: 4vh;
  margin-bottom: 7vh;
}

.main{
  width: 90vw;
  margin-left: 7vw;
  margin-top: 1.5vh;
  display: inline-block;
  
   
}
#pic{
  object-fit: contain;
  width:90vw;
  
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.location{
  background-color: #353738;
  
  margin-top: -1vh;
  width:82vw;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 2vh 4vw;
}
.location h3{
  color: #E2E3E2;
  font-family: "Inika", serif;
  letter-spacing: 1px;
  font-weight: 300;
}

.location p{
  color: #E2E3E2;
  font-family: "Inika", serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin-top: -10px;
  font-size: 16px;
}
#contact-box{
  position: absolute;
  z-index: 3;
  background-color: #566f7c;
  height: 8vh;
  width: 44vw;
  margin-left: -4vw;
  margin-top: 5vh;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
  background: linear-gradient(135deg, #607D8B ,#263238 );
  
}
#contact-box2{
  position: absolute;
  z-index: 3;
  background-color: #607D8B;
  height: 8vh;
  width: 44vw;
  margin-top: 18vh;
   margin-left: -4vw;
   border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
  background: linear-gradient(135deg, #607D8B ,#263238 );

}
#contact-box3{
  position: absolute;
  z-index: 3;
  background-color: #607D8B;
  height: 8vh;
  width: 44vw;
  margin-top: 31vh;
   margin-left: -4vw;
   border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
  box-shadow: 2px 6px 8px #00000095;
  background: linear-gradient(135deg, #607D8B ,#263238 );


}