body{
  margin: 0;
  padding: 0;
  margin-top: 4vh;
}

.back-btn{
  border: none;
  font-size: 2.8vh;
  margin-left: 7vw;
  background-color: #fff;
  font-family: "ADLaM Display", system-ui, sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  color: #1d4375;
}

/* Slider wrapper */
#upwrapIS {
  display: flex;
  justify-content: center;
  
}

/* Carousel container */
.carousel {
  width: 100vw;
  padding-top: 2vh;
  max-width: 500px;
  overflow: hidden;
  
  background-color: #fafafa;
  position: relative;
  padding-bottom: 10px;
 
}

/* Track */
.carousel-track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

/* Slides (images + video) */
.carousel-track img,
.carousel-track video {
  width: 60vw;
  padding-left: 20vw;
  max-width: 500px;
  aspect-ratio: 1 / 1;   /* makes them square */
  object-fit: cover;     /* crop nicely */
  flex-shrink: 0;
  border-radius: 12px;
}

/* Dots indicator */
.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 8px;
}

.carousel-dots .dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.carousel-dots .dot.active {
  background: #333;
}

.pd-title{
  font-size: 2.4vh;
  font-family: 'Arsenal', sans-serif;
  letter-spacing: 1px;
  margin-left: 3vw;
}

.pd-specs {
  width: 65vw;
  background-color: #f5f7f8;
  padding: 3vw;
  margin-top: 1vh;
  padding-right: 15vw;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;

  /* layout fix */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.spec-row {
  display: flex;
  justify-content: space-between;
  font-size: 2vh;
  font-family: "Alice", serif;
  letter-spacing: 1px;
}

.spec-label {
  font-weight: 600;
  color: #555;
}

.spec-value {
  font-weight: 600;
  color: #2c5080;
}

.pd-price{
  display: flex;
  gap: 5vw;
  align-items: end;
  margin-left: 3vw;
  margin-top: 1vh;
}
.price-current{
  font-size: 3vh;
  font-family: "Alice", serif;
  font-weight: 600;
  color: #09101f;
  letter-spacing: 1px;
}
.price-mrp{
  font-size: 2.5vh;
  color: #454545;
  text-decoration: 
  line-through;
   font-family: "Alice", serif;
   letter-spacing: 1px;
}
.price-discount{
  color: #d32f2f;
  font-size: 2.5vh;
   font-family: "Alice", serif;
   letter-spacing: 1px;
}
