body{
  margin-bottom: 7vh;
}

/* Image slider 7 to 89*/

@keyframes zoomOutOnly {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#imageSlider {
  margin-top: 11vw;
  width: 95vw; /* per your requirement */
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  overflow: hidden;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 4vw, 4vw 0);
}

#upwrapIS {
  filter: drop-shadow(4px 6px 4px rgba(0, 0, 0, 0.15))
    drop-shadow(0 6px 4px rgba(0, 0, 0, 0.1));
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-track > * {
  flex: 0 0 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.carousel-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  will-change: transform;
  transform-origin: center center;
}

.carousel-track img.zoom-run {
  animation: zoomOutOnly 1500ms ease-out;
}

.carousel-dots {
  position: absolute;
  bottom: 0.9rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2vw;
}

.dot {
  width: 1vh;
  height: 1vh;
  background-color: #0e192a;
  border-radius: 50%;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}

.dot.active {
  width: 1.5vh;
  height: 1.5vh;
  opacity: 1;
  position: relative;
  bottom: 0.25vh;
}

/* category 83 to 202 */

.category {
  margin-top: 3vh;
}

.category-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  font-family: "Alegreya SC", serif;
  color: #0e192a;
}

.category-head .cat-title {
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 4vw;
  padding-inline: 6px;
  z-index: 1;
}

.cat2 {
  display: flex;
}

.box-refurb,
.box-new,
.box-accessories {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none; /* remove underline from <a> */
  display: block; /* let anchor behave like div */
}

.box-refurb {
  height: 15vh;
  width: 42.5vw;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 1.5vh;
  background: url("/images/cat-refurb.jpg") center/cover no-repeat;
  border: 2px solid #0e192aaa;
}
.box-new {
  height: 15vh;
  width: 42.5vw;
  margin-top: 1.5vh;
  background: url("/images/cat-new.jpg") center/cover no-repeat;
  border: 2px solid #0e192aaa;
}
.box-accessories {
  height: 16vh;
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2.5vh;
  background: url("/images/cat-accessory.png") center/cover no-repeat;
  border: 2px solid #0e192aaa;
}

.box-refurb::after,
.box-new::after,
.box-accessories::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  z-index: 1;
}

.box-refurb h3,
.box-new h3 {
  position: relative;
  z-index: 2;
  color: #f5f7f8;
  font-size: 3.5vw;
  font-family: "Overlock SC", sans-serif;
  letter-spacing: 1px;
  left: 3vw;
  top: 10vh;
}

.box-accessories h3 {
  position: relative;
  display: inline-block;
  z-index: 2;
  color: #f5f7f8;
  font-size: 5vw;
  font-family: "Overlock SC", sans-serif;
  letter-spacing: 1px;
  left: 55vw;
  top: 3vh;
}
#cat-shop {
  position: relative;
  z-index: 2;
  color: #f5f7f8;
  font-size: 4vw;
  font-weight: 300;
  padding: 3px;
  letter-spacing: 1px;
  left: 28vw;
  top: 8vh;
  border: 2px solid #f5f7f8;
  border-radius: 5px;
}

/* Top selling section 202 to 300*/

.top-title {
  margin-bottom: 1rem;
  color: #0e192a;
  font-family: "Alegreya SC", serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-left: 4vw;
  padding-inline: 6px;
  margin-top: 3vh;
}

.top-selling-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 1rem;
  max-width: 900px; /* optional: center on page */
  margin: 0 auto;
  margin-left: 4vw;
  margin-right: 4vw; /* optional: center on page */
}

.product-card {
  background: #ffffff;
  overflow: hidden;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 1vh;
}

.product-thumb {
  position: relative;
  width: 100%;
  height: 21vh; /* 👈 fixed smaller image box */
  background: #f5f7f8;
  display: flex; /* 👈 for centering */
  align-items: center; /* vertical center */
  justify-content: center; /* horizontal center */
  overflow: hidden;
  border-radius: 10px;
}
.product-thumb img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; /* 👈 keep whole image visible */
  object-position: center;
  display: block;
}

.product-tag {
  position: absolute;
  top: 4px;
  left: 6px;
  color: #09101f;
  font-size: 12px;
  letter-spacing: 0.7px;
  border-radius: 4px;
  font-family: "Alfa Slab One", serif;
}

.product-tag.refurbished,
.product-price.refurbished {
  color: #4a4e3d;
}

.product-tag.new,
.product-price.new {
  color: #544a8f;
}

.product-title {
  font-size: 1rem;
  font-weight: 550;
  color: #0e192a;
  margin-bottom: 0.4rem;
  font-family: "Alice", serif;
  margin-top: 5px;
  padding-left: 3px;
}
.product-pricing {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding-left: 3px;
}
.product-price {
  font-size: 0.8rem;
  font-weight: 700;
  color: #09101f;
  font-family: "Alice", serif;
  letter-spacing: 1px;
}
.product-mrp {
  font-size: 0.9rem;
  color: #999;
  text-decoration: line-through;
  font-family: "Alice", serif;
}

/* card slider  */

#CardWrapper{
  background-color: #f5f7f8;
  width: 100vw;
  /* margin-left: 2vw; */
  margin-top: 1vh;
  border-radius: 10px;
}

.sectionHeading{
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 7px;
  
}

#cardHeading{
 font-family: "Alice", serif;
  color: #192f49;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-left: 2vw;
 
}

.viewAllLink{
 margin-left: auto;
 text-decoration: none;
 margin-right: 5vw;
 color: #192f49;
  font-family: "Alice", serif;
  border-bottom: 1.5px solid #192f49;
}

.CardSection {
  background: #f5f7f8;
  height: auto;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5vw;
  padding: 1rem;
  scroll-padding: 3vw;
  -webkit-overflow-scrolling: touch;
   scrollbar-gutter: stable both-edges;
}

.CardSection::-webkit-scrollbar {
  display: none;
}

.MobileCard {
  border-radius: 14px;
  background: #f5f7f8;
  box-shadow: 3px 3px 3px #d0d2d3, -3px -3px 3px #ffffff;
  padding: 0.6rem;
  scroll-snap-align: start;
  position: relative;
  text-decoration: none;
  width: calc(80vw/2 );
  flex-shrink: 0;
  display: block; 
}


.cardLogo {
  position: absolute;
  left: -7px;
  top: 2px;
  height: 0.7rem;
  font-size: 2.5vw;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

#card-name {
  color: #323a40;
  font-size: 2.1vh;
  font-family: 'Arsenal', sans-serif;
  font-weight:bold;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2em;
  max-height: 2.4em;
}
#card-discout{
  display: flex;
  gap: 18px;
  align-items: center;
 margin-top: 0.7vh;
 margin-bottom: 0.5vh;
}


.finalPriceWrap {
  position: relative;
  display: inline-block;
  
}

#ribbon-wrap{
filter: drop-shadow(2px 2px 0.7px #192f4965);
}

.finalPrice {
  position: relative;
  left: -1rem;
  color: #f5f7f8;
  width:75% ;
  background-color: #192f49;
  padding: 0.2rem 0.8rem;
   font-family: "Alice", serif;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 5vw;
  font-weight: bold;
  padding-left: 18px;
  z-index: 1;
}

.cornerRibbonLeft {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px; /* half corner */
  border-color: transparent transparent #192f49d3 transparent;
  position: relative;
  bottom: 0;
  left: -1rem;
  z-index: 2;
  transform: rotate(-90deg);
}



.mobilecCondition {
  font-size: 3vw;
  color: #454545;
  margin-top: 0.5vh;
 font-family: "Alice", serif;
}

.mobileDiscount {
  text-align: center;
  font-size: 4.5vw;
  color: #d32f2f;
  font-weight: bold;
   font-family: "Alice", serif;
}

.mobileMRP{
  text-decoration: line-through;
  color: #454545ca;
  font-size: 4.5vw;
   font-family: "Alice", serif;
}

/* Main image */
.mobileImage {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

