#title {
  color: #192f49;
  font-size: 3.5vh;
  text-align: center;
  margin-top: 8vh;
  font-family: "Alice", serif;
  padding-left: 10vw;
  padding-right: 10vw;
}

#login-image {
  width: 100vw;
}

.profile-page #btnn {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-weight: 700;
  font-size: 2vh;
  border-radius: 25px;
  background-color: #0d3980;
  text-decoration: none;
  color: #fff;
  
  font-family: "Aboreto", serif;
  letter-spacing: 1px;
}

.profile-page #btn2 {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  letter-spacing: 1px;
  font-size: 2vh;
  border-radius: 25px;
  background-color: #0d3980;
  font-weight: 700;
  text-decoration: none;
  color: #fff;

  display: inline-block;
  font-family: "Aboreto", serif;
}

.profile-page #btn-container2 {
  display: flex !important;
  flex-direction: column !important ;
  margin-top: 4vh;
  align-items: center;
  gap: 4vh;
}

/* with data */
#info-card {
  height: 16vh;
  width: 80vw;
  background-color: #f6f6f6;
  position: absolute;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
  right: 0;
  top: 5vh;
}

#profile {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  margin-left: 3vw;
  top: 8vh;
  background: url("/images/profile.jpg") center/cover;
}

#info-name {
  font-size: 3vh;
  margin-left: 8vw;
  margin-top: 2vh;
  font-family: "Alice", serif;
  letter-spacing: 1px;
  color: #192f49;
}

#info-email {
  font-size: 2vh;
  margin-left: 8vw;
  margin-top: 1vh;
  font-family: "Alice", serif;
  letter-spacing: 1px;
  color: #192f49;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70vw;
}

#info-phone {
  font-size: 2vh;
  margin-left: 8vw;
  margin-top: 1vh;
  font-family: "Alice", serif;
  letter-spacing: 1px;
  color: #192f49;
}

.address-info {
  width: 85vw;
  background-color: #f2e8dc;
  height: 7vh;
  display: flex;
  padding: 1vh;
  margin-top: 23vh;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.address-info i {
  font-size: 3.5vh;
  margin-top: 1.75vh;
  color: #192f49;
}

#address {
  font-size: 2vh;
  font-family: "Alice", serif;
  letter-spacing: 1px;
  color: #192f49;
}

#address-btn {
  border: none;
  font-size: 1.5vh;
  font-family: "Alice", serif;
  letter-spacing: 1px;
  color: #fff;
  padding: 1vh 1vh;
  background-color: #192f49;
  border-radius: 32px;
  margin-top: 1.75vh;
}

#address-box {
  width: 70vw;
  margin-left: 3vw;
}
