#repair-banner{
  width: 100vw;
    background:
    /* linear-gradient(rgba(0,0,0,.45), rgba(0,0,0,.05)), */
    url('/images/test2.jpg') center/contain no-repeat;
    
    aspect-ratio: 4724/2692;
  
  color: #fff;
}

#banner-text1{
  padding-top: 4vh;
  margin-left: 6vw;
  font-size: 2.7vh;
  color: #3a2f2a;
    font-family: 'Bungee', sans-serif;
   font-weight: 300;
   letter-spacing: 2px;
}

#banner-text2{
  color: #3a2f2a;
   font-family: 'Bungee', sans-serif;
   font-weight: 300;
  margin-left: 14vw;
  font-size: 3vh;
}


#banner-text4{
   font-family: 'Inika', serif;
    color: #545559;
  padding-top: 1.5vh;
  margin-left: 5vw;
  font-size: 1.9vh;
  width: 45%;

}

#banner-text4A{
   font-family: 'Inika', serif;
    color: #545559;
  margin-left: 5vw;
  font-size: 1.9vh;
  width: 45%;

}

#banner-text4B{
   font-family: 'Inika', serif;
    color: #545559;
  margin-left: 5vw;
  font-size: 1.9vh;
  

}

#banner-text5{
   display: inline-block;
    font-family: 'Inika', serif;
  color:#3a2f2a;
  margin-top: 1vh;
  margin-left: 15vw;
  font-size: 1.9vh;
  border: 2px solid #3a2f2a;
  padding: 4px;
  border-radius: 5px;

}

.repair-table{
  margin-top: 8vh;
}

.repair-table {
  width: 100%;
  border-collapse: collapse;
}

.repair-table td, .repair-table th {
  padding: 10px;
  border: 1px solid #ccc;
}

.details-row {
  background-color: #f9f9f9;
  font-size: 0.9rem;
}

.expand-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

