<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRcontact</title>
    <link rel="stylesheet" href="css/storeHeader.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <script
      src="https://kit.fontawesome.com/3a523928fc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script src="javascript/store.js"></script>
    <%- include(`../../partials/storeHeader`) %> <%-
    include(`../../partials/fonts`) %>

    <a class="main">
      <a class="contact-box">
        <div>
          <i class="fas fa-phone"></i>
          <h3>Phone</h3>
        </div>
        <p>8572002626</p></a
      >
      <A class="contact-box2"
        ><div>
          <i class="fas fa-envelope"></i>
           <h3>Email</h3>
        </div>
        <p>harishmobile49@gmail.com</p>
        </A
      >
      <a class="contact-box3">
        <div>
          <i class="fab fa-whatsapp"></i>
          <h3>WhatsApp</h3>
        </div>
        <p>8572002626</p>
      </a>

      <img id="pic" src="images/location.png" />
      <div class="location">
        <h3>Address:</h3>
        <br />
        <p>Sant Nagar, Sirsa, Haryana, 125075</p>
      </div>
    </a>

    <div class="contact-form">
      <h2>Message us</h2>
      <div class="message">
      <img src="/images/contact.jpg">
      <div class="form">
        <form>
      <input placeholder="Name">
      <input placeholder="Email">
      <input placeholder="Phone Number">
      <input placeholder="Message">
      <input type="submit">
      </form>
      </div>

      </div>


    </div>

    <%- include('../../partials/StoreFooter') %>
  </body>
</html>
