<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HRcontact</title>
    <link rel="stylesheet" href="css/storeHeader.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <script
      src="https://kit.fontawesome.com/3a523928fc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script src="javascript/store.js"></script>
    <%- include(`../../partials/storeHeader`) %>
    

    <a class="main">

      <div id="contact-box"></div>
      <div id="contact-box2"></div>
      <div id="contact-box3"></div>

      <img id="pic" src="images/location.png">
      <div id="location"></div>
    </a>
    

  </body>
</html>
